In [10]:
import calc
calc.add(5,3)

8

In [7]:
class employee():
    def __init__(self,name,age,id,salary):
        self.name=name
        self.age=age
        self.id=id
        self.salary=salary
emp1=employee("abc",18,101,10000)
print(emp1.__dict__)

{'name': 'abc', 'age': 18, 'id': 101, 'salary': 10000}

In [9]:
#single level inhertance
class employee1():
    def __init__(self,name,age,salary):
        self.name=name
        self.age=age
        self.salary=salary
class childemployee(employee1):
    def __init__(self,name,age,salary,id):
        self.id=id
cemp1=childemployee("abc",18,101,10000)
print(emp1.name)

abc

In [20]:
#Multilevel inheritance
class employee2():
    def __init__(self,name,age):
        self.name=name
        self.age=age
class childemployee1(employee2):
    def __init__(self,name,age,salary):
        employee2.__init__(self,name,age)
        self.salary=salary
class grandchildemployee(childemployee1):
    def __init__(self,name,age,salary,id):
        childemployee1.__init__(self,name,age,salary)
        self.id=id
gcemp1=grandchildemployee("abc",18,101,10000)
print(gcemp1.__dict__)

{'name': 'abc', 'age': 18, 'salary': 101, 'id': 10000}

In [25]:
#heritical inheritance
class employee3():
    def __init__(self,name,age):
        self.name=name
        self.age=age
class childemployee2(employee3):
    def __init__(self,name,age,salary):
        employee3.__init__(self,name,age)
        self.salary=salary
class childemployee3(employee3):
    def __init__(self,name,age,salary,type):
        employee2.__init__(self,name,age)
        self.salary=salary
        self.type=type
cemp1=childemployee2("abc",18,10000)
cemp2=childemployee3("abc",18,10000,"a")
print(cemp1.__dict__)
print(cemp2.__dict__)

{'name': 'abc', 'age': 18, 'salary': 10000}
{'name': 'abc', 'age': 18, 'salary': 10000, 'type': 'a'}

In [ ]:
#ploymorshim