## RAJALAKSHMI C~19MID0132

In [18]:
#Importing libraries
import pandas as pd
import sklearn
from sklearn import preprocessing
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler  
lfrom sklearn.neural_network import MLPClassifier 
from sklearn.metrics import classification_report, confusion_matrix

In [19]:
#Loading the iris dataset
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data"

In [20]:
# Let's start by naming the features
names = ['sepal-length', 'sepal-width', 'petal-length', 'petal-width', 'Class']

In [21]:
# Reading the dataset through a Pandas function
irisdata = pd.read_csv(url, names=names)

### The Iris ataset has five columns. The task is to predict the class (which are the values in the fifth column) that the iris plant belongs to.

In [22]:
# Takes first 4 columns and assign them to variable "X"
X = irisdata.iloc[:, 0:4]
# Takes first 5th columns and assign them to variable "Y". Object dtype refers to strings.
y = irisdata.select_dtypes(include=[object])

In [23]:
#Viewing the data
X.head()

   sepal-length  sepal-width  petal-length  petal-width
0           5.1          3.5           1.4          0.2
1           4.9          3.0           1.4          0.2
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

In [24]:
y.head()

         Class
0  Iris-setosa
1  Iris-setosa
2  Iris-setosa
3  Iris-setosa
4  Iris-setosa

In [25]:
# y actually contains all categories or classes:
y.Class.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [26]:
# Now transforming categorial into numerical values
le = preprocessing.LabelEncoder()
y = y.apply(le.fit_transform)

In [27]:
y.head()

   Class
0      0
1      0
2      0
3      0
4      0

In [28]:
# Now for train and test split (80% of  dataset into  training set and  other 20% into test data)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20)

In [29]:
# Feature scaling
scaler = StandardScaler()  
scaler.fit(X_train)
X_train = scaler.transform(X_train)  
X_test = scaler.transform(X_test)

## Multi layer Perceptron

In [30]:
mlp = MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)  
mlp.fit(X_train, y_train.values.ravel())

MLPClassifier(hidden_layer_sizes=(10, 10, 10), max_iter=1000)

### Predictions

In [31]:
predictions = mlp.predict(X_test)

In [32]:
print(predictions)

[0 2 1 1 2 1 0 1 2 0 0 2 0 0 1 2 2 0 2 1 1 2 2 0 2 2 2 2 2 0]

 ### Evaluation of algorithm performance in classifying flowers

In [33]:
print(confusion_matrix(y_test,predictions))  
print(classification_report(y_test,predictions))

[[ 9  1  0]
 [ 0  6  1]
 [ 0  0 13]]
              precision    recall  f1-score   support

           0       1.00      0.90      0.95        10
           1       0.86      0.86      0.86         7
           2       0.93      1.00      0.96        13

    accuracy                           0.93        30
   macro avg       0.93      0.92      0.92        30
weighted avg       0.94      0.93      0.93        30